@charset "UTF-8";
._container {
  max-width: 1049px;
  margin: 0 auto;
}

.page {
  /*-------------------Who we are--------------------------------------*/
  /*---------------Page clients----------------*/
  /*--------------Get in touch--------------*/
}
.page .page-main_block {
  position: relative;
}
.page .page-main_block .main-block_container {
  width: 1046px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: content-box;
}
.page .page-main_block .main-block_container .main-block_body {
  padding-top: 184px;
  padding-bottom: 191px;
  position: relative;
  z-index: 2;
  max-width: 510px;
}
.page .page-main_block .main-block_container .main-block_body .main-block_title {
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  font-size: 58px;
  line-height: 80px;
  letter-spacing: 0.2px;
  color: #252B42;
}
.page .page-main_block .main-block_container .main-block_body .main-block_text {
  width: 380px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #737373;
}
.page .page-main_block .main-block_container .main-block_body .main-block_buttons {
  display: flex;
  width: 352px;
  justify-content: space-between;
}
.page .page-main_block .main-block_container .main-block_body .main-block_buttons .main-block_first-button {
  padding: 10px 36px 10px 36px;
  background: #FF7B47;
  border-radius: 37px;
  color: white;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 28px;
  border: none;
}
.page .page-main_block .main-block_container .main-block_body .main-block_buttons .main-block_second-button {
  padding: 10px 36px 10px 36px;
  border: 1px solid #0D5C63;
  border-radius: 37px;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 28px;
  color: #0D5C63;
}
.page .page-main_block .main-block_container .main-block_body > *:not(:last-child) {
  /*для всех элементов(первого уровня) в данном блоке сделать отступ снизу 35пх*/
  margin-bottom: 35px;
}
.page .main-block_image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
@media (max-width: 1380px) {
  .page .main-block_image img {
    object-position: right;
    /*Делаем акцент на правой стороне картинки при определённой ширине экрана*/
  }
}
@media (max-width: 860px) {
  .page .main-block_image img {
    opacity: 0.5;
  }
}
.page .page-service {
  margin-top: -111px;
  position: relative;
  z-index: 10;
}
.page .page-service .service_container {
  max-width: 1046px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  box-sizing: content-box;
}
@media (max-width: 1043px) {
  .page .page-service .service_container {
    justify-content: center;
  }
}
.page .page-service .service_container .service-info {
  margin: 0 15px;
  width: 318px;
  height: 242px;
  box-shadow: 0 13px 19px rgba(0, 0, 0, 0.07);
  background: white;
}
@media (max-width: 1043px) {
  .page .page-service .service_container .service-info {
    margin-top: 30px;
    width: 450px;
  }
}
@media (max-width: 959px) {
  .page .page-service .service_container .service-info {
    width: 700px;
  }
}
.page .page-service .service_container ._green_block {
  background: #0D5C63;
}
@media (max-width: 1043px) {
  .page .page-service .service_container ._green_block {
    margin-top: 30px;
  }
}
.page .page-service .service_container .service-img {
  padding-left: 40px;
  padding-top: 35px;
}
.page .page-service .service_container .service-title {
  padding: 13px 0 0 40px;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252B42;
}
.page .page-service .service_container ._green_title {
  color: white;
}
.page .page-service .service_container .service-text_block {
  width: 260px;
}
.page .page-service .service_container .service-text_block .service-text {
  padding: 13px 0 0 40px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}
.page .page-service .service_container .service-text_block ._green_text {
  color: white;
}
.page .designing {
  width: 100%;
}
.page .designing .designing-title_block {
  text-align: center;
  padding-top: 80px;
}
.page .designing .designing-title_block .designing-title {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252B42;
}
.page .designing .designing-text_block {
  width: 511px;
  margin: 0 auto;
  text-align: center;
  padding-top: 10px;
}
.page .designing .designing-text_block .designing-text {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}
.page .designing .achievements {
  max-width: 1049px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 80px;
}
.page .designing .achievements .achievement {
  background: #FFFFFF;
  margin: 0 15px;
  text-align: center;
}
.page .designing .achievements .achievement .achievement-item_img {
  padding: 32px 91px 0 91px;
}
.page .designing .achievements .achievement .achievement-item_img .achievement-img {
  height: 48px;
  display: flex;
  align-items: end;
}
.page .designing .achievements .count {
  padding-top: 13px;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252B42;
}
.page .designing .achievements .achievement-text {
  padding-top: 15px;
  padding-bottom: 30px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #737373;
}
.page .practice-advice {
  margin: 0 auto;
}
.page .practice-advice .practice-advice_block {
  width: 470px;
  margin: 0 auto;
  text-align: center;
}
.page .practice-advice .practice-advice_block .practice-advice_title {
  padding-top: 125px;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252B42;
}
.page .practice-advice .practice-advice_block .practice-advice_text {
  padding-top: 15px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
}
.page .practice-advice .practice-advice_cards {
  max-width: 1049px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding-top: 45px;
}
.page .practice-advice .practice-advice_cards .card {
  background: #FFFFFF;
  display: flex;
  max-width: 240px;
  margin: 0 15px 0 15px;
}
.page .practice-advice .practice-advice_cards .card .card-title {
  width: 135px;
  padding: 30px 67px 0 30px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #252B42;
}
.page .practice-advice .practice-advice_cards .card .card-text {
  width: 160px;
  padding: 15px 42px 30px 30px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}
.page .practice-advice .practice-advice_cards .card .img_block {
  position: absolute;
  bottom: 0;
}
.page .header-block {
  text-align: center;
}
.page .header-block .header-block__title {
  padding-top: 181px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252B42;
}
.page .header-block .header-block__sub-title {
  width: 597px;
  margin: 0 auto;
  text-align: center;
}
.page .header-block .header-block__sub-title .title {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
  margin: 0 auto;
}
.page .whoweare__body {
  margin-top: 100px;
  display: flex;
}
.page .whoweare__body .whoweare__video {
  flex: 0 0 57%;
  position: relative;
  padding: 0 0 42.25% 0;
}
.page .whoweare__body .whoweare__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.page .whoweare__body .whoweare__content {
  flex: 1 1 auto;
  padding-left: 121px;
}
.page .whoweare__body .whoweare__content .whoweare__title {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252B42;
}
.page .whoweare__body .whoweare__content .whoweare__text {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
  padding-top: 10px;
}
.page .whoweare__body .whoweare__content .whoweare__items .item-whoweare {
  display: flex;
}
.page .whoweare__body .whoweare__content .whoweare__items .item-whoweare .item-whoweare__body .item-whoweare__title {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #252B42;
}
.page .whoweare__body .whoweare__content .whoweare__items .item-whoweare .item-whoweare__body .item-whoweare__text {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
}
.page .page__clients {
  margin-top: 136px;
  background: #FAFAFA;
}
.page .clients {
  padding: 0 0 60px 0;
}
@media (max-width: 767px) {
  .page .clients {
    padding: 30px 0;
  }
}
.page .clients .clients__items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.page .clients .clients__items .clients__item {
  padding: 8px 15px;
  flex: 0 1 13.6667%;
  text-align: center;
  min-width: 140px;
}
.page .clients .clients__items .clients__item img {
  max-width: 100%;
}
.page .subscribe {
  position: relative;
  padding-bottom: 20px;
  background: #FAFAFA;
}
.page .subscribe::before {
  background: #252B42;
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 77px;
}
.page .subscribe__body {
  position: relative;
  z-index: 2;
  margin: 0 30px;
  padding: 30px 50px;
  align-items: center;
  background: #17213C;
  border-radius: 2px;
}
@media (min-width: 810px) {
  .page .subscribe__body {
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 810px) {
  .page .subscribe__body {
    margin: 0 -30px;
  }
}
.page .subscribe__body .subscribe__title {
  max-width: 266px;
  color: white;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
}
@media (max-width: 810px) {
  .page .subscribe__body .subscribe__title {
    margin-bottom: 20px;
  }
}
.page .subscribe__body .subscribe__form {
  flex: 0 1 50%;
  display: flex;
  align-items: center;
}
.page .subscribe__body .subscribe__form .subscribe__input {
  flex: 1 1 auto;
  background: #F9F9F9;
  border: 1px solid #E6E6E6;
  border-radius: 5px 0 0 5px;
  min-height: 58px;
  padding: 0 20px;
  outline: none;
}
.page .subscribe__body .subscribe__form .subscribe__input ::placeholder {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #737373;
}
.page .subscribe__body .subscribe__form .subscribe__button {
  background: #FF7B47;
  border: 1px solid #E6E6E6;
  border-radius: 0 5px 5px 0;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: white;
  font-size: 14px;
  line-height: 28px;
  padding: 15px 22px;
}
.page .getintouch {
  background: #FAFAFA;
}
.page .getintouch .title-block {
  padding-top: 80px;
  text-align: center;
}
.page .getintouch .title-block .getintouch_title {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252B42;
}
.page .getintouch .title-block .getintouch_text {
  margin: 0 auto;
  max-width: 470px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}
.page .getintouch .get-in-touch__body {
  padding: 80px 32.5px;
}
@media (min-width: 1090px) {
  .page .getintouch .get-in-touch__body .get-in-touch__column {
    display: flex;
    text-align: center;
    align-items: center;
  }
}
.page .getintouch .get-in-touch__body .get-in-touch__column .get-in-touch__item {
  flex: 0 1 33.333%;
  background: white;
  padding: 50px 40px;
}
.page .getintouch .get-in-touch__body .get-in-touch__column .get-in-touch__item > *:not(:last-child) {
  padding: 0 0 15px 0;
}
.page .getintouch .get-in-touch__body .get-in-touch__column .get-in-touch__item .get-in-touch__email {
  display: flex;
  flex-direction: column;
}
.page .getintouch .get-in-touch__body .get-in-touch__column .get-in-touch__item .get-in-touch__email a {
  color: #252B42;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
}
.page .getintouch .get-in-touch__body .get-in-touch__column .get-in-touch__item .get-in-touch__support {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #252B42;
}
.page .getintouch .get-in-touch__body .get-in-touch__column .get-in-touch__item .get-in-touch__button {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 171.4285714286%;
  color: #FF7B47;
  background: white;
  padding: 10px 20px;
  border: 1px solid #FF7B47;
  border-radius: 5px;
}
.page .getintouch .get-in-touch__body .get-in-touch__column .blue-item {
  padding: 80px 40px;
  background: #252B42;
}
@media (max-width: 1090px) {
  .page .getintouch .get-in-touch__body .get-in-touch__column .blue-item {
    padding: 40px;
  }
}
.page .getintouch .get-in-touch__body .get-in-touch__column .blue-item .get-in-touch__email a {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
}
.page .getintouch .get-in-touch__body .get-in-touch__column .blue-item .get-in-touch__support {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: white;
}
.page .getintouch .get-in-touch__body .get-in-touch__column .blue-item .get-in-touch__button {
  color: white;
  border: 1px solid white;
  background: #252B42;
}

/*# sourceMappingURL=body.css.map */
