@charset "UTF-8";
.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}
.header .container {
  width: 1046px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: content-box;
}
.header .header-container {
  display: flex;
  min-height: 104px;
  align-items: center;
}
.header .header-container .header-logo {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #252B42;
}
.header .header-container .header-menu {
  margin-left: 133px;
}
@media (max-width: 920px) {
  .header .header-container .header-menu {
    margin-left: 100px;
  }
}
@media (max-width: 800px) {
  .header .header-container .header-menu {
    margin-left: 70px;
  }
}
@media (max-width: 576px) {
  .header .header-container .header-menu {
    margin-left: 40px;
  }
}
.header .header-container .header-menu .menu-list {
  display: flex;
  flex-wrap: wrap;
}
.header .header-container .header-menu .menu-list .menu-item:not(:last-child) {
  /*чтобы у последнего элемента не было висячего отступа*/
  margin-right: 21px;
}
.header .header-container .header-menu .menu-list .menu-item .menu-link {
  color: #737373;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
}

.page .page-main_block {
  position: relative;
}
.page .page-main_block .main-block_container {
  width: 1046px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: content-box;
}
.page .page-main_block .main-block_container .main-block_body {
  padding-top: 184px;
  padding-bottom: 191px;
  position: relative;
  z-index: 2;
  max-width: 510px;
}
.page .page-main_block .main-block_container .main-block_body .main-block_title {
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  font-size: 58px;
  line-height: 80px;
  letter-spacing: 0.2px;
  color: #252B42;
}
.page .page-main_block .main-block_container .main-block_body .main-block_text {
  width: 380px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #737373;
}
.page .page-main_block .main-block_container .main-block_body .main-block_buttons {
  display: flex;
  width: 352px;
  justify-content: space-between;
}
.page .page-main_block .main-block_container .main-block_body .main-block_buttons .main-block_first-button {
  padding: 10px 36px 10px 36px;
  background: #FF7B47;
  border-radius: 37px;
  color: white;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 28px;
  border: none;
}
.page .page-main_block .main-block_container .main-block_body .main-block_buttons .main-block_second-button {
  padding: 10px 36px 10px 36px;
  border: 1px solid #0D5C63;
  border-radius: 37px;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 28px;
  color: #0D5C63;
}
.page .page-main_block .main-block_container .main-block_body > *:not(:last-child) {
  /*для всех элементов(первого уровня) в данном блоке сделать отступ снизу 35пх*/
  margin-bottom: 35px;
}
.page .main-block_image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
@media (max-width: 1380px) {
  .page .main-block_image img {
    object-position: right;
    /*Делаем акцент на правой стороне картинки при определённой ширине экрана*/
  }
}
@media (max-width: 860px) {
  .page .main-block_image img {
    opacity: 0.5;
  }
}

body {
  padding: 0;
  margin: 0;
}

div, p, a, img, form, button {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul, li {
  display: block;
  padding: 0;
  margin: 0;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

/*# sourceMappingURL=style.css.map */
